
.form-title{
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 50px;
	font-size: 1.4em;
	color: #fff;
	top:60px;
}
.box-form-lr{
	position: relative;
	margin: 0 auto;
	width: 800px;
	top: 70px;
}

.box-form-l{
	position: relative;
	float: left;
	width: 390px;
	height: 400px;
}
.box-form-r{
	position: relative;
	float: left;
	width: 390px;
	margin-left: 20px;
	height: 400px;
}
.box-registration-form{
	position: relative;
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	padding: 10px;
}
.box-registration-form-description{
	height: 330px !important;
}