@import url("profile.css");
@import url("form.css");

@font-face {
   font-family: 'Poiret-one';
   src: url('../fonts/Poiret-one/PoiretOne-Regular.ttf')
      format('truetype');
}
@font-face {
   font-family: 'Lato-l';
   src: url('../fonts/Lato/Lato-Light.ttf')
      format('truetype');
}
@font-face {
   font-family: 'Lato-bo';
   src: url('../fonts/Lato/Lato-Bold.ttf')
      format('truetype');
}
@font-face {
   font-family: 'Lato-bl';
   src: url('../fonts/Lato/Lato-Black.ttf')
      format('truetype');
}
@font-face {
   font-family: 'Lato-reg';
   src: url('../fonts/Lato/Lato-Regular.ttf')
      format('truetype');
}



body{
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 20px !important;
	background-image: url('../img/back.jpg');
	font-family: 'Lato-reg';
	color: #1d1d1d;
}

a{
	text-decoration: none !important;
}
input:focus, select:focus, textarea:focus, option:focus{
	outline: none !important;
}

option:hover{
	background-color: #ff3333 !important;
	color: #fff !important;
}

.container-2{
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	top: 80px;
	min-height: 800px;
}
.menu-bar{
	position: fixed;
	width: 100%;
	height: 70px;
	background-color: #fff;
	z-index: 101;
}
.element-menu{
	position: relative;
	height: 70px;
	line-height: 70px;
}
.logo{
	float: left;
	margin-left: 15px;
	font-size: 1.2em;
	font-family: 'Lato-bo'; 
	color: #ff3333;
}
.login{
	float: right;
	margin-right: 15px;
	font-size: 1.0em; 
	cursor: pointer;
}
.login:hover{
	color: rgba(29, 29, 30, 0.7);
}
.user-menu{
	float: right;
	margin-right: 15px;
	font-size: 1.0em; 
	cursor: pointer;
	width: 250px;
	height: 50px;
	top: 10px;
}
.user-menu-img{
	position: relative;
	float: right;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #1d1d1d;
	border: 2px solid #1d1d1d;
	background-image: url('../img/user.jpg');
	background-size: cover;
}
.user-menu-name{
	position: relative;
	float: right;
	height: 50px;
	line-height: 50px;
	color: #1d1d1d;
	margin-right: 10px;
}
.menu-drop{
	position: fixed;
	width: 280px;
	min-height: 335px;
	right: 0;
	top: 80px;
	background-color: #fff;
	z-index: 101;
}
.box-login-form{
	position: relative;
	width: 250px;
	height: 40px;
	margin: 0 auto;
	margin-top: 20px;
}
.box-login-text{
	position: relative;
	width: 250px;
	height: 40px;
	margin: 0 auto;
	line-height: 60px;
}
.text-12{
	font-size: 1.2em;
}
.text-08{
	font-size: 0.8em;
}
.login-form{
	font-size: 0.9em !important;
	width: 250px; 
	height: 40px;
	border: 1px #929292 solid !important;
}
.button-custom{
	height: 40px;
	font-family: 'Poiret-one';
	border: none;
	color: #fff;
}
.button-custom:hover{
	opacity: 0.9;
}
.button-submit{
	width: 100px;
	background-color: #ff3333;
}
.button-registration{
	width: 250px;
	font-family: 'Poiret-one';
	background-color: #ff3333;
}
.box-menu{
	cursor: pointer;
	position: relative;
	width: 260px;
	height: 50px;
	margin: 10px;
	color: #1d1d1d;
}
.box-menu:hover{
	background-color: #ff3333;
	color: #fff;
}

.box-menu-text{
	height: 50px;
	line-height: 50px;
	margin-left: 10px;
	color: #1d1d1d !important;
}
.box-menu-text:hover{
	color: #fff!important;
}


.container-form{
	position: absolute;
	width: 100%;
	//height: 70px;
	top: 100px;
}
.box-form{
	position: relative;
	width: 620px; 
   	height: 100px;
   	top: 0px;
   	margin: 0 auto;
   	margin-bottom: 30px;
}
.input-form{
	position: relative;
	margin: 0 auto;
	padding: 10px;
	border: none;
	font-size: 1.1em;
	font-family: 'Poiret-one';
	background-color: rgba(255, 255, 255, 0.9);
	text-decoration: none;
}
.search-form{
	width: 610px; 
	height: 60px;
}
.spec-form{
	width: 200px; 
	height: 60px;
	margin: 0 !important;
}

.setting-button{
	position: relative;
	top: 15px;
	width: 22px;
	height: 22px;
	cursor: pointer;
	background-image: url('../img/setting.png');
	background-size: 22px 22px;
}
.box-spec{
	display: none;
	position: relative;
	width: 620px; 
   	height: 500px;
   	top: 0px;
   	margin: 0 auto;
}
.search-button{
	position: absolute;
	width: 36px;
	height: 36px;
	left: 552px;
	top: 12px;
	cursor: pointer;
	background-image: url('../img/search.png');
	background-size: 36px 36px;
}
.text-form{
	position: relative;
	width: 620px;
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
	color: #fff;
}
.box-select{
	width: 200px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.9);
	font-family: 'Poiret-one';
}


div#ui-datepicker-div {
	font-family: 'Poiret-one' !important;
    font-size: 0.8em;
    border-radius: 0px;
    //background-color: rgba(255, 255, 255, 0.9);
}
/*
.ui-widget-header {
    border:none !important;
    background: #ff3333 !important;
    color: #fff !important;
}*/

#ui-datepicker-div{
	top: 610px !important;
}
.date-form{
	width: 272px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.9);
}
