<!--<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="view/js/main.js"></script>
<title>Insert title here</title>
</head>
<body>

	<div class="menu-bar">
		<div class="element-menu logo">Mercury</div>
		<div class="element-menu login">Login</div>
		<div class="element-menu user-menu">
			<div class="user-menu-img"></div>
			<div class="user-menu-name">Fabrizio SPA</div>
		</div>
	</div>	
	<div id="menu-login-false" class="menu-drop" style="display: none;">
		<form action="" method="">
			<div class="box-login-text text-12">Login</div>
			<div class="box-login-form">
				<input class="input-form login-form" type="text" name="user" placeholder="Username..."></input>
			</div>
			<div class="box-login-form">
				<input class="input-form login-form" type="password" name="pass" placeholder="Password..."></input>
			</div>
			<div class="box-login-form">
				<input class="button-custom button-submit" type="submit" value="Log In"></input>
			</div>
			<div class="box-login-text text-08">Non hai mai effetuato l'accesso?</div>
		</form>
		<div class="box-login-form">
			<button class="button-custom button-registration">Registrati</Button>
		</div>
	</div>

	<div id="menu-login-true" class="menu-drop" style="display: none;">
		<div class="box-menu">
			<div class="box-menu-text">Crea evento</div>
		</div>
		<div class="box-menu">
			<div class="box-menu-text">I tuoi eventi</div>
		</div>
		<div class="box-menu">
			<div class="box-menu-text">Modifica profilo</div>
		</div>
		<div class="box-menu">
			<div class="box-menu-text">Logout</div>
		</div>
	</div>

	<div class="container-2">
	
		<div class="user-img"></div>
		<div class="user-name">Fabrizio S.P.A.</div>
		<div class="user-description">
			La nostra societa nasce a Cagliari tra i vicoli del quartiere marina in un piovoso martedi' di Ottobre del 2015, l'alcol aveva invaso tutti i vasi sanguigni e la speranza di sopravvivere a quella serata era data 
			a meno della vittoria del Real Madrid col Pescara!
		</div>
		<div class="title">EVENTI IN PROGRAMMA</div>
		<div class="box-events">
			<div class="box-event">
				<div class="event-img"></div>
				<div class="event-description">Concerto CSP caskanolepiramidi</div>
			</div>
			<div class="box-event">
				<div class="event-img"></div>
				<div class="event-description">Sagra della vernaccia</div>
			</div>
			<div class="box-event">
				<div class="event-img"></div>
				<div class="event-description">Sfilata di carnevale</div>
			</div>
			<div class="box-event">
				<div class="event-img"></div>
				<div class="event-description">Gara di scorregge con la favata!</div>
			</div>
		</div>

	</div>

</body>
</html>